<div class="home-page">
    <h3>Your apps</h3>
    <div class="col-lg-12">
        <div class="spinner-round loadingAppsSpinner" ng-show="loadingApps">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <div class="col-lg-12" ng-show="!loadingApps">
	    <div class="usage">You have <strong>{{ apps.length }} app<span ng-show="apps.length > 1">s</span></strong>, and use <strong>{{ providers | count }} provider<span ng-show="count(providers) > 1">s</span></strong>.
	        <br>
	        <a ui-sref="dashboard.apps.all">Access your app list</a>
	    </div>
	</div>
    <h3>Plugins</h3>

    Here are widgets created by plugins.
    <div class="row list">
        <div class="col-md-4 plugin" ng-repeat="plugin in plugins">
            <iframe style="width: 1000px; height: 600px;" ng-src="{{plugin.url}}"></iframe>
        </div>
    </div>
</div>