/node_modules/
/npm-debug.log
/out.log
/err.log
/forever.log
/plugins/server.*/*.js
!/plugins/server.*/gruntConfig.js
/lib/*.js
/lib/*.map
/plugins/**/*.map
/plugins/server.request/**/*.js
.nodemonignore
nohup.out
config.local.js
*.sublime-*
/.idea/
/private
app/sdk-js/js/*
app/sdk-js/jsold/*
app/sdk-js/node_modules/*
