/out.log
/err.log
/forever.log
*.coffee
/.travis.yml
/.editorconfig
/Gruntfile.js
*/gruntConfig.js
/test
/config.local.js
/.nodemonignore
*.sublime-*
/.idea/
!/plugins/server.*/*.js
!/lib/*.js
!/lib/*.map
!/plugins/**/*.map
/app/sdk-js/tests/testsiteserver/node_modules