<!DOCTYPE PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8=">

 <style>


ol {
  color: #ccc;
  list-style-type: none;
    padding-left: 10px;
}

ol li {
  position: relative;
  font: bold italic 35px/1.5 Helvetica, Verdana, sans-serif;

}


td p {
text-align: justify; font-size: 17px; line-height: 1.4; color: rgb(89,101,115); font-weight:normal;
  padding-left: 10px;


}
 td ol li span {
     padding-right: 15px;
       padding-top: 10px;
     display:block;
}

    </style>

  </head>

  <body style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: rgb(89,101,115);">
    <table  width="620" cellspacing="0" cellpadding="0" border="0" align="center"><tr><td bgcolor="#F0F0F0">
      <table style="padding-top: 10px; padding-bottom: 20px;" width="578" cellspacing="0" cellpadding="0" border="0" align="center">
        <tr>
          <td height="6"></td>
        </tr>
        <tr>
          <td style="text-align: center;">

            <a href="https://oauth.io/"><img height="60" src="http://img4.hostingpics.net/pics/86336838l.png"></a>


          </td>
        </tr>
        <tr>

          <td height="0"> </td>
        </tr>

        <tr>
          <td align="left" bgcolor="#FFF" style="border-radius: 10px;
border-color: #FFF;
border-style: solid;
border-width: 1px">
            <div>
              <table width="578" cellspacing="0" cellpadding="0" border="0" align="center">
                <tr>
                  <td height="22" colspan="3"></td>
                </tr>

                <tr>
                 <td width="40"></td>
                  <td width="498">
                    <div style="color: black;">

                      <p>Dear {{user.profile.name}},</p>
                      <p>
                       You have chosen the {{invoice.plan_name}} offer.
                      </p>
                      <p>
                      For any questions about integration and following of your plan, you can email us directly at support@oauth.io.
                      </p>
                      <p>
                      Don't forget to mention your customer references in order for us to treat your email in high priority.
                      </p>
                      <p>
                      Hereafter your receipt, with all your plan details.
                       </p>

                      <hr>

                      <div style="margin-bottom:30px;overflow:hidden; border-width: 0px; border-style: solid; border-color:#000000;float:left;width:60%">
                        <p class="other"><strong>Your information</strong> </p>
                        <p style="line-height: 0.5;">{{user.profile.company}}</p>
                        <p style="line-height: 0.5;">{{user.profile.name}}</p>
                        <p style="line-height: 0.5;">{{user.profile.addr_one}}</p>
                        <p style="line-height: 0.5;">{{user.profile.addr_second}}</p>
                        <p style="line-height: 0.5;">{{user.profile.zipcode}}, {{user.profile.city}}</p>
                        <p style="line-height: 0.5;">{{user.profile.country}}</p>
                      </div>

                      <div style="margin-bottom:30px;overflow:hidden; border-width: 0px; border-style: solid; border-color:#000000;float:left;width:60%">
                        <p class="other"><strong>Billing information</strong> </p>
                        <p style="line-height: 0.5;">{{user.billing.company}}</p>
                        <p style="line-height: 0.5;">{{user.billing.name}}</p>
                        <p style="line-height: 0.5;">{{user.billing.addr_one}}</p>
                        <p style="line-height: 0.5;">{{user.billing.addr_second}}</p>
                        <p style="line-height: 0.5;">{{user.billing.zipcode}}, {{user.billing.city}}</p>
                        <p style="line-height: 0.5;">{{user.billing.country}}</p>
                      </div>

                      <div style="margin-bottom:30px;overflow:hidden;float:left;width:100%">
                      <p style="line-height: 0.5;">Date : {{date}} </p>
                      <p style="line-height: 0.5;">Payment date : {{invoice.date_invoice}} </p>
                      <p style="line-height: 0.5;">Payment type : Credit Card </p>
                      </div>
                      <table BORDER="1"  cellpadding="10" style="border-color:#000000; border-collapse:collapse; width:100%" >
                        <caption> <strong>Invoice</strong> </caption>
                        <tr>
                          <th style="background-color: #cbe7f9; color: #0074a2;"> Order number </th>
                          <th style="background-color: #cbe7f9; color: #0074a2;"> Offer </th>
                          <th style="background-color: #cbe7f9; color: #0074a2;"> Quantity </th>
                          <th style="background-color: #cbe7f9; color: #0074a2;"> Unit Price </th>
                          <th style="background-color: #cbe7f9; color: #0074a2;"> Total </th>
                        </tr>
                        <tr>
                         <td > {{invoice.num_order}} </td>
                         <td > {{invoice.plan_name}} </td>
                         <td > {{invoice.quantity}} </td>
                         <td > ${{invoice.unit_price}} </td>
                         <td > ${{invoice.unit_price}} </td>
                        </tr>
                        <tr>
                          <th>  </th>
                          <th>  </th>
                          <th>  </th>
                          <th style="background-color: #cbe7f9; color: #0074a2;" > VAT Percent </th>
                          <td  >{{invoice.VAT_percent}}%</td>
                        </tr>
                        <tr>
                          <th>  </th>
                          <th>  </th>
                          <th>  </th>
                          <th style="background-color: #cbe7f9; color: #0074a2;" > VAT </th>
                          <td  >${{invoice.VAT}}</td>
                        </tr>
                        <tr>
                          <th>  </th>
                          <th>  </th>
                          <th>  </th>
                          <th style="background-color: #cbe7f9; color: #0074a2;" > Total DUE </th>
                          <td>${{invoice.total}}</td>
                        </tr>
                      </table>

                    </p>

                  <p class="other">
                    Thank you for your purchase
                  </p>
                  <hr>
                  <div style="margin-bottom:30px;overflow:hidden; text-align:center;width:100%">
                        <p style="line-height: 0.5;"><strong>Webshell SAS, 86 rue de Paris , 91400 Orsay</strong></p>
                      </div>
                    </div>
                  </td>

                  <td width="40"></td>

                </tr>

                <tr>
                  <td height="22" colspan="3"></td>
                </tr>
              </table>
            </div>
          </td>
        </tr>

        <tr>
          <td height="16"></td>
        </tr>
        <tr>
          <td align="left">
            <table cellspacing="0" cellpadding="0" border="0" align="center">
              <tr>
                <td width="100%"><p style="font-family: Helvetica, sans-serif; font-size:12px;">You're receiving this email because you signed up to <a href="https://oauth.io/">OAuth.io</a></p> <p style="font-family: Helvetica, sans-serif; font-size:12px; font-weight:bold"></p></td>

        <td width="498">

     </td>
<td style="padding-right:5px;"width="40">
<a style="display:block; text-align:right;" href="https://oauth.io/contact-us/">  <img src="http://img11.hostingpics.net/pics/570548mail.png"></a></td>
 <td width="40"><a style="display:block; text-align:right" href="https://twitter.com/OAuth_io"> <img src="http://img4.hostingpics.net/pics/247422twitter.png"></a></td>
              </tr>

                  </div>


            </table>
          </td>
        </tr>
        <tr>
          <td height="22"></td>
        </tr>
      </table>
    </td>
      </tr>
      </table>
  </body>
 </html>