<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <style>
ol {
 color: #ccc;
 list-style-type: none;
 padding-left: 10px;
}

ol li {
 position: relative;
 font: bold italic 35px/1.5 Helvetica, Verdana, sans-serif;
}

td p {
 text-align: justify; font-size: 17px; line-height: 1.4; color: rgb(89,101,115); font-weight:normal;
 padding-left: 10px;
}

td ol li span {
 padding-right: 15px;
 padding-top: 10px;
 display:block;
}
 </style>
</head>
<body style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: rgb(89,101,115);">
 <table  width="620" cellspacing="0" cellpadding="0" border="0" align="center"><tr><td bgcolor="#F0F0F0">
  <table style="padding-top: 10px;" width="578" cellspacing="0" cellpadding="0" border="0" align="center">
   <tr><td height="6"></td></tr>
   <tr>
    <td style="text-align: center;">
     <a href="https://oauth.io/"><img height="60" src="http://img4.hostingpics.net/pics/86336838l.png"></a>
    </td>
   </tr>
   <tr>
    <td height="0"><p style="text-align:right; color:#FFF; font-weight:900;padding-right: 10px; margin:0">VALIDATION</p></td>
   </tr>
   <tr>
    <td align="left" bgcolor="#FFF" style="border-radius: 10px; border-color: #FFF; border-style: solid; border-width: 1px">
     <div>
      <table width="578" cellspacing="0" cellpadding="0" border="0" align="center">
       <tr><td height="22" colspan="3"></td></tr>
       <tr>
        <td width="40"></td>
        <td width="498">
         <div style="color: black;">
          <p style="text-align: justify; font-size: 17px; line-height: 1.4; color: black; font-weight:normal;">
           Welcome on OAuth.io!<br/><br/>
In order to validate your email address, please click the following link: <a href="{{url}}">{{url}}</a><br/>
Your feedback is über-important to us: it would help improve developer's life even more.<br/><br/>
So don't hesitate to reply to this email.<br/><br/>
Thanks for trying out OAuth.io beta!<br/>
          </p>
          <p style="padding-top: 15px;"><a style="text-decoration:none; color: rgb(89,101,115);"href="https://oauth.io">The OAuth.io Team</a></p>
         </div>
        </td>
        <td width="40"></td>
       </tr>
       <tr><td height="22" colspan="3"></td></tr>
      </table>
     </div>
    </td>
   </tr>
   <tr><td height="16"></td></tr>
   <tr>
     <td align="left">
       <table cellspacing="0" cellpadding="0" border="0" align="center">
         <tr>
           <td width="498"></td>
           <td style="padding-right:5px;"width="40">
            <a style="display:block; text-align:right;" href="https://oauth.io/contact-us"><img src="http://img11.hostingpics.net/pics/570548mail.png"></a>
           </td>
           <td width="40">
           	<a style="display:block; text-align:right" href="https://twitter.com/OAuth_io"> <img src="http://img4.hostingpics.net/pics/247422twitter.png"></a>
           </td>
         </tr>
       </table>
     </td>
   </tr>
  </table>
 </td></tr></table>
</body>
</html>