<div class="app-keyset-form">
    
    <div class="row">

 
        <div class="keyset col-md-4">
            <keyseteditor  provider="provider" control="keysetEditorControl"/>
           
        </div>
        <div class="col-md-8">
            <h4>Integration</h4>
            To integrate {{ provider | capitalize }} in your app, please go to <a href="{{ settings.install.href.docs }}" target="_blank">{{ settings.install.href.docs }}</a>, create an app there, and copy/paste its keys on this page.

            <div>
                <br>
                To get more information about {{ provider | capitalize }}'s API, please visit:
                <p>
                <strong>Their website:</strong> <a href="{{ settings.install.href.provider }}">{{ settings.install.href.provider }}</a>
                <br>
                <strong>Their developers section:</strong> <a href="{{ settings.install.href.docs }}">{{ settings.install.href.docs }}</a>
                </p>
            </div>
             <div class="pull-right buttons">
                <button class="btn" ng-class="{'btn-success': changed}" ng-disabled="!changed" ng-click="save()"><span class="fa fa-save"></span> Save this provider</button>
                <button class="btn btn-danger" ng-click="delete()"><span class="fa fa-minus"></span> Delete this provider</button>
            </div>
        </div>
        <div class="col-md-12 row help-images-container">
            <div class="col-md-6">
                <div class="title-parent">
                    <span class="title three">Configuring the app:</span>
                    <a href="{{ settings.createApp.url }}">Here</a><br>
                </div>
                <img src="/api/providers/{{ provider }}/config.png" alt="Creating an app on {{provider | capitalize }}'s website">
            </div>
            <div class="col-md-6">
                <div class="title-parent">
                    <span class="title three">Getting the keys:</span>
                    <a href="{{ settings.copyingKey.url }}">Here</a><br>
                </div>
                <img src="/api/providers/{{ provider }}/keys.png" alt="Retrieving keys on {{provider | capitalize }}'s website">
            </div>
        </div>
    </div>
    <div style="text-align:center; margin-top: 20px;">
        <strong><a ui-sref="dashboard.apps.new_keyset({ key: app.key })"><span class="fa fa-caret-square-o-left"></span> Add another provider</a></strong>
    </div>
</div>