<div class="keyset">
	<div ng-repeat="(key, parameter) in available_parameters">
	    <strong>{{ key }}:</strong>
	    <input class="form-control" ng-if="parameter.values == undefined" placeholder="Enter the {{ key }} here" />
	    
	    <input type="text" data-parameter="{{ key }}" class="parameter_input parameter_input_{{ key }}" ng-if="parameter.values != undefined && (parameter.cardinality == undefined || parameter.cardinality == '*' || parameter.cardinality > 1)" >

	    <select type="text" data-parameter="{{ key }}" class="parameter_input parameter_input_{{ key }}" ng-if="parameter.values != undefined && parameter.cardinality == 1"></select>
	</div>	
</div>
<div class="pull-right">
	<button class="btn btn-success" ng-click="save()">Save this provider</button>
	<button class="btn btn-warning" ng-click="delete()">Delete this provider</button>
</div>
