<div class="row">
	<div class="keyset col-md-8">
		<keyseteditor  provider="provider" control="keysetEditorControl"/>
	</div>
	<div class="col-md-4 well">
		To add {{ provider }} to your app, you need to visit {{ provider }}'s website,
		create an app there, and copy paste the keys that you get.
	</div>
</div>
<div class="pull-right">
	<button class="btn btn-success" ng-click="save()">Save this provider</button>
	<button class="btn btn-warning" ng-click="delete()">Delete this provider</button>
</div>
