<h3>App creation</h3>
<form action="javascript:void(0);" role="form" ng-submit="create()">
	<div class="form-group">
		<label for="app_name">Name of the app</label>
		<input type="text" ng-model="app.name" placeholder="Enter a name for the app..." class="form-control">
	</div>
	
	<div class="form-group">
		<label for="app_domains"></label>
		<domains id="app_domains" control="domains_control" app="app" />
	</div>
	<div class="pull-right">
		<a class="btn btn-danger" ui-sref="apps_choice">Cancel</a>
		<input class="btn btn-success" value="Create app" type="submit">
	</div>
</form>