<div class="menu-panel">
	<div class="header">
		<div class="normal pull-right logout-button"><a href="javascript:void(0);" ng-click="logout()"> <span class="fa fa-sign-out"></span> Logout</a></div>
		<img class="logo" src="/img/logo.png" alt=""> oauthd 
	</div>
	<div class="section">
		<a ui-sref="dashboard.home" ng-class="{active: state.current.name == 'dashboard.home' }" class="button">Home</a>
		<a ui-sref="dashboard.apps.all" ng-class="{active: state.current.name.indexOf('dashboard.apps') == 0 }" class="button">Apps</a>
	</div>
	<div class="section-header">
		Plugins
	</div>
	<div class="section">
		<a ui-sref="dashboard.home" class="button">Statistics</a>
		<a ui-sref="dashboard.apps" class="button">Unified</a>
	</div>
</div>
<div class="content">
	<div ui-view></div>	
</div>
