<div class="login-page">
    <h1 class="title"><img src="/img/logo.png" alt="OAuth that just works!" class="logo"> oauthd</h1>
    <form role="form" action="javascript:void(0);" ng-submit="login()" class="login-form">
        <h4>Please log in</h4>
        <div class="alert alert-danger" ng-show="error">{{ error | capitalize }}</div>
        <div class="form-group">
            <label>Email: </label>
            <input class="form-control" type="text" placeholder="Enter your email" ng-model="user.email">
        </div>
        <div class="form-group">
            <label>Password: </label>
            <input class="form-control" type="password" placeholder="Enter your password" ng-model="user.pass">
        </div>
        <div class="form-group buttons">
            <a target="_blank" class="pull-right" href="https://oauth.io/docs/oauthd">What's <strong>oauthd</strong>?</a>
            <button class="btn btn-success">Log in</button>
        </div>
        
        <div class="clear"></div>
    </form>
</div>